html, body{
    margin: 2%;
    background-color: rgb(153, 137, 161);
}

.container-fluid-main-container {
    background-color: rgb(205, 186, 217); 
    height: 100%;
    width: 100%;
}

.row {
    border: solid;
    border-color:rgba(104, 104, 104, 0.745);
}
.col {
    border: solid;
    border-color:rgba(104, 104, 104, 0.745);
}