html, body{
    margin: 2%;
    background-color: rgb(153, 137, 161);
}

.container-fluid-main-container {
    background-color: rgb(205, 186, 217); 
    height: 100%;
    width: 100%;
}

.row-1-main-container {
    background-color: rgba(199, 194, 197, 0.745);
    padding: 1%;
}

.col-my-col-number2-2 {
    border: 1%;
    border-color: darkmagenta;
}