html, body{
    margin: 2%;
    background-color: rgb(153, 137, 161);
}

.container-fluid-main-container {
    background-color: rgb(205, 186, 217); 
    height: 100%;
    width: 100%;
    border: solid;
    border-color:rgba(104, 104, 104, 0.745);
}

.row-my-row-1-main-container{
    background-color: rgba(199, 194, 197, 0.745);
    padding: .5%;
    border-bottom: solid;
    border-color:rgba(104, 104, 104, 0.745);
}

.col-my-col-number2-1 {
    flex: auto;
}

.col-my-col-number2-2 {
    flex: auto;
}

.col-my-col-number2-3 {
    flex :auto;
}

.row {
    border: solid;
    border-color:rgba(104, 104, 104, 0.745);
}

.col {
    border: solid;
    border-color:rgba(104, 104, 104, 0.745);
}